{% extends 'base_therapist.html' %}
{% load static %}

    

{% block scripts %}
    <script src="{% static 'skaaltec_test9/analysis_therapist.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'style_dashboard.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
{% endblock scripts %}

{% block title %}
    Analysis Dashboard
{% endblock title %}



{% block content %}
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{% url 'main_therapist' %}">Main Dashboard</a>
        <a href="{% url 'analysis_dashboard' %}">Analysis</a>
        <a href="{% url 'upload_dashboard' %}">Upload Data</a>
        <a href="{% url 'messages_dashboard' %}">Message</a>
        <a href="{% url 'sessions_dashboard' %}">Book a session</a>
        <hr style="color: hsl(356, 81%, 95%);">
        <div style="text-align: center;">
            {% if user.is_authenticated %}
            <p style="color: hsl(356, 81%, 95%);">Logged in as {{ user.username }}</p>
            <form method="POST" action="{% url 'logout_user' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-light btn-block background-radial-gradient text-light rounded-3 mx-3"><i>Logout</i></button>
            </form>
            {% endif %}
        </div>
    </div> 
    
<div id="main" class="webapp">

    <div class="row mx-2 complementary-background border border-light rounded-total">
        <div class="col-xl-2">
            <a id="menuButton" type="button" class="btn btn-light btn-block background-radial-gradient text-light rounded-3 mx-3" onclick="openNav()" style="font-size: 18;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list mx-2" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>Portal Menu 
            </a>
        </div>
        <div class="col-xl-2">
            <div class="dropdown">
                <button class="btn btn-light btn-block background-radial-gradient text-light rounded-3 mx-3 dropbtn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                    </svg>
                    Patients</button>
                <div id="patients-dropdown-box" class="dropdown-content rounded-total">
                </div>
            </div>
        </div>
    </div>

    <div class="row gx-2">

        <div class="col-xl-8">
            <div class="complementary-background border border-light my-2 rounded-total" style="height: 750px;">
                <div class="row my-2">
                    <div class="col-xl-12 m-1">
                        <h1>Number of Movements and Skaaltec Score</h1>
                        <hr>
                        <br>
                        <div class="row">
                            <div class="mx-2 col-xl-5">
                                <input type="search" id="search" placeholder="Insert the ideal number of movements" data-search style="width: 100%;">
                            </div>
                            <div id="error-input-box" class="col-xl-4"></div>
                        </div>
                        <br>
                        <div class="card m-2 rounded-total bg-element">
                            <div class="card-body" id="numberOfMovement-box">
                                <h6 class="m-2 text-dark">Number of Movements | Skaaltec Score</h6>
                                <hr>
                                <div class="alert alert-warning mx-2 shadow" role="alert">
                                    <h5>Select a patient from the dropdown menu from above.</h5>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 " >
            
            <div class="complementary-background my-2 border border-light rounded-total" style="height: 400px;">
                <div class="row">
                    <div class="col-xl-12 my-2">
                        <div class="row m-3" style="justify-content: space-around;">
                            <h1>Patient Information</h1>
                            <hr>
                            <br>
                        </div>
                        <div class="bg-overflow border border-light rounded-total" style="height: 200px; overflow: auto;">
                            <div class="row mx-1" >
                                <div id="patient-buttons-box" class="center my-3">
                                    <div class="alert alert-warning mx-2 shadow" role="alert">
                                        <h5>Select a patient.</h5>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="complementary-background my-2 border border-light rounded-total" style="height: 340px;">
                <div class="row">
                    <div class="col-xl-12 my-2">
                        <div class="row m-3" style="justify-content: space-around;">
                            <h1>Available Actions</h1>
                            <hr>
                        </div>
                        <div class="border border-white rounded-total bg-overflow" style="height: 180px; overflow: auto;">
                            <div class="row m-3" >
                                <div id="actions-info-box" class="center">
                                    <div class="alert alert-warning mx-2 shadow" role="alert">
                                        <h5>Select a patient.</h5>
                                    </div>  
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row gx-2">
            
        <div class="my-2 border border-light complementary-background rounded-total" style="min-height: 550px;">
            <div class="row">
                <div class="col-xl-12 my-2">
                    <div class="row m-3" style="justify-content: space-around;">
                        <h1>Other important parameters</h1>
                        <hr>
                        <div class="rounded-total border border-white bg-overflow">
                            <div class="row">
                                <div style="height: 450px;">
                                    <div class="row flex-nowrap overflow-auto my-3" id="otherGraphs-box">
                                        <div class="mx-3 alert alert-warning shadow" style="max-width: 90%;" role="alert">
                                            <h5>Select a patient from the dropdown menu from above.</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    



  </div>
  
  
{% endblock content %}








