{% extends 'base.html' %}
{% load static %}

{% block scripts %}
{% endblock scripts %}

{% block title %}
    Therapist Login
{% endblock title %}



{% block content %}

    <!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
  <style>
    .background-radial-gradient {
      background-color: hsl(356, 41%, 15%);
      background-image: radial-gradient(650px circle at 0% 0%,
          hsl(356, 41%, 35%) 15%,
          hsl(356, 41%, 30%) 35%,
          hsl(356, 41%, 20%) 75%,
          hsl(356, 41%, 19%) 80%,
          transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
          hsl(356, 41%, 45%) 15%,
          hsl(356, 41%, 30%) 35%,
          hsl(356, 41%, 20%) 75%,
          hsl(356, 41%, 19%) 80%,
          transparent 100%);
    }

    #radius-shape-1 {
      height: 220px;
      width: 220px;
      top: -60px;
      left: -130px;
      background: radial-gradient(red, black);
      overflow: hidden;
    }

    #radius-shape-2 {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      bottom: -60px;
      right: -110px;
      width: 300px;
      height: 300px;
      background: radial-gradient(red, black);
      overflow: hidden;
    }

    .bg-glass {
      background-color: hsla(0, 0%, 100%, 0.9) !important;
      backdrop-filter: saturate(200%) blur(25px);
    }
  </style>
  
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(356, 81%, 95%)">
            SmartVNS <br/>
            <span style="color: hsl(356, 81%, 75%)">A smart way to heal</span>
          </h1>
          <p class="mb-4 opacity-70" style="color: hsl(356, 81%, 85%)">
            Connecting therapists and patients for better health. 
            Log in and experience the future of personalised care with healthconnect portal, where well-being meets technology. 
          </p>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
  
          <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
                <div class="text-center">
                    <img src="{% static 'skaaltec.png' %}"
                      style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">PORTAL LOGIN</h4>
                </div>

                {% if error %}
                      <div class="alert alert-danger" role="alert">
                          <p class="card-text">{{ error }}</p>
                      </div>  
                {% endif %}  

                <form method="POST" action="{% url 'login_user' %}">
                    <p>Login to your account</p>

                    <div class="form-outline mb-4">
                            
                        {% csrf_token %}
                            
                        {{ form_in.as_p }}
                    
                    </div>
                    <div style="text-align: center;">
                      <button type="submit" class="btn btn-light btn-block gradient-custom-2 text-white rounded-3">
                          Log in
                      </button>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->

{% endblock content %}


