{% extends 'base_therapist.html' %}
{% load static %}
{% load crispy_forms_tags %}

    

{% block scripts %}
    <script src="{% static 'skaaltec_test9/messages_therapist.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'style_dashboard.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
{% endblock scripts %}

{% block title %}
    Messages Dashboard
{% endblock title %}



{% block content %}
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{% url 'main_therapist' %}">Main Dashboard</a>
        <a href="{% url 'analysis_dashboard' %}">Analysis</a>
        <a href="{% url 'upload_dashboard' %}">Upload Data</a>
        <a href="{% url 'messages_dashboard' %}">Message</a>
        <a href="{% url 'sessions_dashboard' %}">Book a session</a>
        <hr style="color: hsl(356, 81%, 95%);">
        <div style="text-align: center;">
            {% if user.is_authenticated %}
            <p style="color: hsl(356, 81%, 95%);">Logged in as {{ user.username }}</p>
            <form method="POST" action="{% url 'logout_user' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-light btn-block background-radial-gradient text-dark rounded-3 mx-3"><i>Logout</i></button>
            </form>
            {% endif %}
        </div>
    </div> 

    <div id="main" class="webapp">

        <div class="row mx-2 complementary-background border border-light rounded-total">

            <div class="col-3 my-1">
                <a id="menuButton" type="button" class="btn btn-light btn-block background-radial-gradient text-light rounded-3 mx-3" onclick="openNav()" style="font-size: 18;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list mx-2" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>Portal Menu 
                </a> 
            </div>
    
        </div>

        <div class="row gx-2">

            <div class="col-xl-3">
                <div class="complementary-background border border-light my-2 rounded-total" style="height: 750px;">
                    
                    <div class="row my-2">
                        <div class="col-xl-12">
                            <h1>Patients</h1>
                            <div id="messages-count-box" class="m-2"></div>
                            <div class="mx-2">
                                <div class="search-wrapper">
                                    <input type="search" id="search" placeholder="Search by name" data-search>
                                </div>
                            </div>
                            <hr>
                            <div class="bg-overflow border border-light rounded-total" style="height: 500px; overflow: auto;">
                                <div class="row mx-1" id="patients-messages-box">
                                    <div id="spinner-box" class="center">
                                        <div class="d-flex align-items-center ">
                                            <strong role="status">Loading...</strong>
                                            <div class="spinner-border ms-auto" aria-hidden="true"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-9" >
                
                <div class="complementary-background m-2 border border-light rounded-total" style="height: 750px;">
                    <div class="row">
                        <div class="col-xl-12 my-2" style="height: 700px">
                            <div id="patient-name"><h1>Select a patient to start a conversation</h1></div>
                            <hr>
                            <div id="chat-box" class="rounded-total bg-element border border-dark overflow-auto" style="height:490px">



                            </div>
                            <br>
                            <div id="input-message-box">
                                <div class="my-1 gx-2">
                                    <form id="p-form" class="row">
                                        <div class="col-xl-11">
                                            {% csrf_token %}
                                            {{ form|crispy }}
                                        </div>
                                        <div class="col-xl-1 my-2">
                                            <button type="submit" class="btn btn-light btn-block background-radial-gradient text-light rounded-3 mx-3">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                                                    <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
                                                </svg>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
  
  
{% endblock content %}








