{% extends 'base.html' %}
{% load static %}

    

{% block scripts %}
    <script src="{% static 'skaaltec_test9/analysis_therapist.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'style_dashboard.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    
{% endblock scripts %}

{% block title %}
    Upload Dashboard
{% endblock title %}



{% block content %}
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{% url 'main_therapist' %}">Main Dashboard</a>
        <a href="{% url 'analysis_dashboard' %}">Analysis</a>
        <a href="#">Upload Data</a>
        <a href="#">Message</a>
        <a href="#">Book a session</a>
        <hr style="color: hsl(356, 81%, 95%);">
        <div style="text-align: center;">
            {% if user.is_authenticated %}
            <p style="color: hsl(356, 81%, 95%);">Logged in as {{ user.username }}</p>
            <form method="POST" action="{% url 'logout_user' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-light btn-block gradient-custom-2 text-white rounded-3"><i>Logout</i></button>
            </form>
            {% endif %}
        </div>
    </div> 
  
    <a id="menuButton" type="button" class="btn btn-light btn-block gradient-custom-2 text-white rounded-3 mx-3" onclick="openNav()">Portal Menu 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
    </a> 
  
  
  <div id="main" class="container-fluid webapp">
    
    <div class="row m-3 gx-2">
        <div class="col-xl-4" style="text-align: center;">
            <div class="dropdown">
                <button class="btn btn-light btn-block gradient-custom-2 text-white rounded-3 mx-3 dropbtn">Patients</button>
                <div id="patients-dropdown-box" class="dropdown-content">
                </div>
              </div> 
        </div>
        <div class="col-xl-8">
            <div class="row" style="justify-content: space-around;" id="patient-buttons-box">
            
            </div>
        </div>
    </div>


    <div class="row m-3 gx-2 border border-dark">

        <div class="col-xl-8">
            <div class="container border border-dark my-2 rounded-total" style="height: 750px;">
                <div class="row">
                    <div class="col-xl-1"></div>
                    <div class="col-xl-9 my-2">
                        <br>
                        <h1>Time Series analysis & Skaaltec Score</h1>
                        <hr>
                        <div class="mx-2" id="tsanalysis-box">
                            <div id="spinner-box" class="center">
                                <div class="d-flex align-items-center ">
                                    <strong role="status">Loading...</strong>
                                    <div class="spinner-border ms-auto" aria-hidden="true"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-3">
                            <div id="end-box" class="center">
                        
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2"></div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 " >
            
            <div class="container my-2 border border-dark rounded-total" style="height: 750px;">
                <div class="row">
                    <div class="col-xl-1"></div>
                    <div class="col-xl-9 my-2">
                        <div class="row m-3" style="justify-content: space-around;">
                            <h1>Other parameters</h1>
                            <hr>
                            <div id="message-count-box" class="center">
                                <div class="d-flex align-items-center ">
                                    <strong role="status">Loading...</strong>
                                    <div class="spinner-border ms-auto" aria-hidden="true"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2"></div>
                </div>
            </div>
        </div>

    </div>

    



  </div>
  
  
{% endblock content %}








